//
//  Secrets.xcconfig.example
//  neme
//
//  Created by surla on 9/17/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


// Copy this file to Secrets.xcconfig and replace the placeholder below with your real Google Books API key.
// Get a key at: https://console.cloud.google.com/apis/credentials

GOOGLE_BOOKS_API_KEY = YOUR_API_KEY_HERE
